{% extends 'base.html.twig' %}

{% block title %} User index {% endblock %}

{% block body %}
    <style>
        a {
            text-decoration: none;
        }

        .pagination {
            justify-content: center;
        }

        .page-link {
            color: black;
            background: none;
            border: 1px black solid;
        }

        .page-link:hover {
            color: white;
            background: black;
        }
    </style>
    {% include 'admin/admin_header.html.twig' %}
    {% include 'admin/navbar_admin_users.html.twig' %}

    <br>
    <h1 align="center">User index</h1>
    <div class="container">


        <div class="row my-3">
            <div class="col-2">
            </div>
            <div class="col-8">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Activated</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.activated ? 'true' : 'false' }}
                            </td>
                            <td>
                                {% for role in user.roles %}
                                    {{ role | replace ({'ROLE_' : ' '}) }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">
                                    <button class="btn btn-success">Show</button>
                                </a>
                                {% if user.username != 'sasa' %}
                                    <a href="{{ path('user_edit', {'id': user.id}) }}">
                                        <button class="btn btn-warning">Edit</button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('user_new') }}" class="btn btn-primary">Create new</a>

                <nav aria-label="...">
                    <ul id="pagination" class="pagination">
                        {% if length > 0 %}
                            {% for i in 1..(length / limit)|round(0,'ceil') %}
                                <li class="paginationButtons page-item">
                                    <button id="pagBtn{{ i }}" class="page-link" type="submit" value="{{ i }}"
                                            onclick="setPage(this.value)">{{ i }}
                                    </button>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>

            </div>
            <div class="col-2">

            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}

    <script>
        var list = document.getElementsByClassName('paginationButtons'),
            ul = document.getElementById('pagination'),
            li = document.createElement("li"),
            btn = document.createElement("div");

        var element1 = document.getElementById("pagBtn1");

        li.className = 'paginationButtons page-item';
        btn.className = 'page-link';
        btn.appendChild(document.createTextNode("..."));

        li.appendChild(btn);

        if (!(window.location.href.includes('page'))) {
            element1.style.setProperty('background', 'black');
            element1.style.setProperty('color', 'white');

            for (let i = 4; i <= list.length - 2; i++) {
                list[i].style.setProperty('display', 'none');
            }

            if (list.length > 5) {
                ul.insertBefore(li, ul.childNodes[list.length]);
            }
        } else {
            var url = new URL(window.location.href);
            var page = url.searchParams.get("page");

            var element2 = document.getElementById("pagBtn" + page);

            element1.style.setProperty('background', 'none');
            element1.style.setProperty('color', 'black');

            element2.style.setProperty('background', 'black');
            element2.style.setProperty('color', 'white');

            current = page - 1;
            var flag1 = false,
                flag2 = false;

            for (let i = 1; i <= current - 4; i++) {
                list[i].style.setProperty('display', 'none');
                flag1 = true;
            }

            for (let i = current + 4; i <= list.length - 2; i++) {
                list[i].style.setProperty('display', 'none');
                flag2 = true;
            }

            var liClone = li.cloneNode(true);

            if (flag1 === true) ul.insertBefore(li, ul.firstElementChild.nextElementSibling);
            if (flag2 === true) ul.insertBefore(liClone, ul.lastElementChild);
        }

        function setPage(value) {
            var urlSearchParams = new URLSearchParams(window.location.search);
            urlSearchParams.set('page', value);
            window.location.search = urlSearchParams;
        }
    </script>

{% endblock %}
