{% extends 'admin/crud_base.thml.twig' %}

{% block title %} Registration {% endblock %}

{% block navbar %} {% include 'navbar.html.twig' %} {% endblock %}

{% block content %}

    <h1 align="center">Registration</h1>

    {{ form_start(form) }}

    <br>
    <h5>Username</h5>
    {% if errors.nick is defined and errors.nick is not null %}
        <div class="alert alert-danger">
            <span class="d-block">
                <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                <span class="form-error-message">{{ errors.nick }}</span>
            </span>
        </div>
    {% endif %}
    {{ form_widget(form.username) }}

    <br>
    <h5>E-mail</h5>
    {% if errors.email is defined and errors.email is not null %}
        <div class="alert alert-danger">
            <span class="d-block">
                <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                <span class="form-error-message">{{ errors.email }}</span>
            </span>
        </div>
    {% endif %}
    {{ form_widget(form.email) }}

    <br>
    <h5>Password</h5>
    {% if form_errors(form.plainPassword.first) %}
        <div class="alert alert-danger">
            {{ form_errors(form.plainPassword.first) }}
        </div>
    {% endif %}
    {{ form_widget(form.plainPassword.first) }}

    <br>
    <h5>Repeat Password</h5>
    {% if form_errors(form.plainPassword.second) %}
        <div class="alert alert-danger">
            {{ form_errors(form.plainPassword.second) }}
        </div>
    {% endif %}
    {{ form_widget(form.plainPassword.second) }}

    <br>
    <p align="center">
        <button type="submit" class="btn btn-success">Register!</button>
    </p>
    {{ form_end(form) }}

{% endblock %}