{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}

    <h1 align="center">Order</h1>

    <ul class="nav nav-tabs">
        <li>
            <a class="nav-link active" href="#order" data-togle="tab">Order</a>
        </li>
        <li>
            <a class="nav-link" href="#address" data-togle="tab">Address</a>
        </li>
        <li>
            <a class="nav-link" href="#items" data-togle="tab">Items</a>
        </li>
        {% if order.payment.type == 'card' %}
        <li>
            <a class="nav-link" href="#payment" data-togle="tab">Card details</a>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="order">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ order.total | number_format(2) }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ order.status }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>User id</th>
                    <td>{{ order.userId }}</td>
                </tr>
                <tr>
                    <th>Payment.type</th>
                    <td>{{ order.payment.type }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="address">
            <table class="table">
                <tbody>
                <tr>
                    <th>Address.country</th>
                    <td>{{ order.address.country }}</td>
                </tr>
                <tr>
                    <th>Address.state</th>
                    <td>{{ order.address.state }}</td>
                </tr>
                <tr>
                    <th>Address.city</th>
                    <td>{{ order.address.city }}</td>
                </tr>
                <tr>
                    <th>Address.address</th>
                    <td>{{ order.address.address }}</td>
                </tr>
                <tr>
                    <th>Address.recipient</th>
                    <td>{{ order.address.recipient }}</td>
                </tr>
                <tr>
                    <th>Address.phoneNumber</th>
                    <td>{{ order.address.phoneNumber }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="items">
            <table class="table">
                <tbody>
                {% for item in order.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.productCode }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if order.payment.type == 'card' %}
        <div class="tab-pane" id="payment">
            <table class="table">
                <tbody>
                <tr>
                    <th>Payment.card.code</th>
                    <td>{{ order.payment.card.code }}</td>
                </tr>
                <tr>
                    <th>Payment.card.cvv</th>
                    <td>{{ order.payment.card.cvv }}</td>
                </tr>
                <tr>
                    <th>Payment.card.expiresAt</th>
                    <td>{{ order.payment.card.expiresAt ? order.payment.card.expiresAt|date('Y-m') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <script>
        let $ = jQuery;
        $(".nav li a").on("click", function () {
            $(".nav li a").removeClass("active");
            $(this).addClass("active");
            $(".tab-content div").removeClass("active");
            $($(this).attr('href')).addClass("active");
        });
    </script>

    <a href="{{ path('order_index') }}">back to list</a>

    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>

    {{ include('admin/order/_delete_form.html.twig') }}
{% endblock %}
