{% extends 'admin/crud_base.thml.twig' %}

{% block title %}Order{% endblock %}

{% block navbar %} {% include 'admin/navbar_admin_orders.html.twig' %} {% endblock %}

{% block content %}

    <h1 align="center">Order</h1>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="order-tab" data-bs-toggle="tab" data-bs-target="#order" type="button"
                    role="tab" aria-controls="order" aria-selected="true">Order
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#address" type="button"
                    role="tab" aria-controls="address" aria-selected="false">Address
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="items-tab" data-bs-toggle="tab" data-bs-target="#items" type="button"
                    role="tab" aria-controls="items" aria-selected="false">Items
            </button>
        </li>
        {% if order.payment.type == 'card' %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="card-tab" data-bs-toggle="tab" data-bs-target="#card" type="button"
                        role="tab"
                        aria-controls="card" aria-selected="false">Card-details
                </button>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ order.total | number_format(2) }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ order.status }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>User id</th>
                    <td>{{ order.userId }}</td>
                </tr>
                <tr>
                    <th>Payment Type</th>
                    <td>{{ order.payment.type }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
            <table class="table">
                <tbody>
                <tr>
                    <th>Country</th>
                    <td>{{ order.address.country }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ order.address.state }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ order.address.city }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ order.address.address }}</td>
                </tr>
                <tr>
                    <th>Recipient</th>
                    <td>{{ order.address.recipient }}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{ order.address.phoneNumber }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <table class="table">
                <tbody>
                <th>Product code</th>
                <th>Amount</th>
                <th>Price</th>
                {% for item in order.items %}
                    <tr>
                        <td>{{ item.productCode }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if order.payment.type == 'card' %}
            <div class="tab-pane fade" id="card" role="tabpanel" aria-labelledby="card-tab">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Code</th>
                        <td>{{ order.payment.card.code }}</td>
                    </tr>
                    <tr>
                        <th>cvv</th>
                        <td>{{ order.payment.card.cvv }}</td>
                    </tr>
                    <tr>
                        <th>Expires at</th>
                        <td>{{ order.payment.card.expiresAt ? order.payment.card.expiresAt|date('Y-m') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    <p align="center">
        <a href="{{ path('order_index') }}">
            <button class="btn btn-primary">Back to list</button>
        </a>
    </p>

    {% if order.status == 'in process' %}
        <p align="center">
            <a href="{{ path('order_edit', {'id': order.id}) }}">
                <button class="btn btn-success">Edit</button>
            </a>
        </p>
    {% endif %}

    {% if order.status == 'in process' or order.status == 'arrived' %}
        {{ include('admin/order/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
