{% extends 'base.html.twig' %}

{% block title %} Cart {% endblock %}

{% block body %}
    <script src="{{ asset('assets/main/app.js') }}"></script>
    <script src="{{ asset('assets/main/cart/add-item.js') }}"></script>
    <script src="{{ asset('assets/main/cart/delete-item.js') }}"></script>
    <script src="{{ asset('assets/main/cart/cart.js') }}"></script>
    <script src="{{ asset('assets/main/cart/read-items.js') }}"></script>

    <div>
        <img class="img-fluid" src="{{ asset('assets/main/images/header-image.jpg') }}" width="2000" alt="1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand" style="margin-left: 50px">Preot.md</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('product_index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br><br>

    <div id="app" style="min-height: 260px"></div>


    <div class="checkout-fragment" id="checkout-fragment"></div>
    
    <!-- bootbox for confirm pop up -->
    <script src="{{ asset('assets/main/js/bootbox.min.js') }}" type="text/javascript"></script>

    {% include 'footer.html.twig' %}

{% endblock %}