{% extends 'base.html.twig' %}

{% block title %} Cart {% endblock %}

{% block body %}
    <script src="{{ asset('assets/main/app.js') }}"></script>
    <script src="{{ asset('assets/main/cart/add-item.js') }}"></script>
    <script src="{{ asset('assets/main/cart/delete-item.js') }}"></script>
    <script src="{{ asset('assets/main/cart/cart.js') }}"></script>
    <script src="{{ asset('assets/main/cart/read-items.js') }}"></script>

    <img class="img-fluid" src="{{ asset('assets/main/images/header-image.jpg') }}" width="2000" alt="1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand" style="margin-left: 50px">Preot.md</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('product_index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>

                </ul>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a style="color: white" href="{{ path('product_list') }}">ADMIN</a>
                    {% endif %}

                    <a href="{{ path('app_logout') }}">
                        <button type="button" class="btn btn-dark me-2">Log out
                            <i class="bi bi-door-open-fill" style="pointer-events:none"></i>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}">
                        <button type="button" class="btn btn-dark me-2">Sign in</button>
                    </a>
                    <a href="{{ path('user_registration') }}">
                        <button type="button" class="btn btn-light me-2">Sign Up
                            <i class="bi bi-box-arrow-in-right" style="pointer-events:none"></i>
                        </button>
                    </a>

                {% endif %}


            </div>
        </div>
    </nav>
    <br><br>

    <div id="shopping-cart-container" class="container" data-container="cart" align="center">
        <div class="h1">Shopping Cart</div>
        <br>
    </div>

    <div id="app" style="min-height: 260px"></div>

    <div class="checkout-fragment" id="checkout-fragment" style="display: none;">
        {% include 'main/order/new_order.html.twig' %}
    </div>

    <br>
    <p align="center">
        <button class="btn btn-success btn-lg" id="checkout"> Checkout</button>
    </p>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your order is placed!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p align="center">
                        <i class="bi bi-check-lg" style="color: limegreen; font-size: 254px;"></i>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- bootbox for confirm pop up -->
    <script src="{{ asset('assets/main/js/bootbox.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/main/order/order.js') }}"></script>
    {% include 'footer.html.twig' %}

{% endblock %}