{% extends '/base.html.twig' %}

{% block body %}

    <header id="header">
        {# Slider HERE #}
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/1.jpg') }}" width="2000" alt="1">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/2.jpg') }}" width="2000" alt="2">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/3.jpg') }}" width="2000" alt="3">
                </div>
            </div>
        </div>
    </header>

    <div id="content">
      {# Navigation bar HERE #}
      {% include 'navbar.html.twig' %}
        <div class="container">
            <div class="row my-5">
                <div class="col-9">
                    <h1>Newest products:</h1>

                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                        <li class="list-group-item m-1">
                            <img class="img-fluid" src="{{ asset('assets/main/images/product1.jpg') }}" width="200"
                                 alt="1">
                            <div class="product_details">
                                <div class="title">ProductTitle</div>
                                <div class="price">99 $</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h2>Categories</h2>
                    <ul class="list-group">
                        <li class="list-group-item">category1</li>
                        <li class="list-group-item">category2</li>
                        <li class="list-group-item">category3</li>
                        <li class="list-group-item">category4</li>
                        <li class="list-group-item">category5</li>
                        <li class="list-group-item">category6</li>
                        <li class="list-group-item">category7</li>
                        <li class="list-group-item">category8</li>
                        <li class="list-group-item">category9</li>
                        <li class="list-group-item">category10</li>
                    </ul>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only"></span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        {% include 'footer.html.twig' %}
    </div>
{% endblock %}