{% extends 'base.html.twig' %}

{% block title %} Cart {% endblock %}

{% block body %}
    <img class="img-fluid" src="{{ asset('assets/main/images/header-image.jpg') }}" width="2000" alt="1">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand" style="margin-left: 50px">Preot.md</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('product_index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>

                </ul>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a style="color: white" href="{{ path('product_list') }}">ADMIN</a>
                    {% endif %}

                    <a href="{{ path('app_logout') }}">
                        <button type="button" class="btn btn-dark me-2">Log out
                            <i class="bi bi-door-open-fill"  style="pointer-events:none"></i>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}">
                        <button type="button" class="btn btn-dark me-2">Sign in</button>
                    </a>
                    <a href="{{ path('user_registration') }}">
                        <button type="button" class="btn btn-light me-2">Sign Up
                            <i class="bi bi-box-arrow-in-right"  style="pointer-events:none"></i>
                        </button>
                    </a>

                {% endif %}


            </div>
        </div>
    </nav>

    <div id="shopping-cart-container" class="container" data-container="cart">
        <div class="h1">Shopping Cart</div>
    </div>

    <div id="app"></div>

    {% include 'footer.html.twig' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}