{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .pagination {
            justify-content: center;
        }

        .page-link {
            color: black;
            background: none;
            border: 1px black solid;
        }

        .page-link:hover {
            color: white;
            background: black;
        }
    </style>
    <header id="header">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/1.jpg') }}" width="2000" alt="1">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/2.jpg') }}" width="2000" alt="2">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/3.jpg') }}" width="2000" alt="3">
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        {% include 'navbar.html.twig' %}

        <div class="container">
            <div class="row my-5">
                <div class="col-9">
                    <table class="table">
                        <tbody>
                        {% for product in products %}
                            {% set fullImagePath = 'assets/main/images/gallery/' %}
                            {% set fullImagePath = fullImagePath ~ product.imgPath|first %}
                            {% if loop.index0 % 4 == 0 %}
                                <tr>
                                <td>
                                    <a href="../products/{{ product.code }}"
                                       style="text-decoration: none; color: black">
                                        <div class="image">
                                            <img src="{{ asset(fullImagePath) }}" width="200" height="200"
                                                 alt="Image 1">
                                        </div>
                                        <div class="name">
                                            <b>{{ product.name }}</b>
                                        </div>
                                        <div class="price">
                                            {{ product.price | number_format(2) }} $
                                        </div>
                                    </a>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <button id="add-to-cart{{ loop.index0 }}"
                                                class="add-to-cart btn btn-success btn-sm"
                                                data-productCode="{{ product.code }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-cart-fill" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            Add
                                        </button>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-success btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-cart-fill" viewBox="0 0 16 16">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg>
                                                Add
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    <a href="../products/{{ product.code }}"
                                       style="text-decoration: none; color: black">
                                        <div class="image">
                                            <img src="{{ asset(fullImagePath) }}" width="200" height="200"
                                                 alt="Image 1">
                                        </div>
                                        <div class="name">
                                            <b>{{ product.name }}</b>
                                        </div>
                                        <div class="price">
                                            {{ product.price }} $
                                        </div>
                                    </a>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <button id="add-to-cart{{ loop.index0 }}"
                                                class="add-to-cart btn btn-success btn-sm"
                                                data-productCode="{{ product.code }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-cart-fill" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            Add
                                        </button>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-success btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-cart-fill" viewBox="0 0 16 16">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg>
                                                Add
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="...">
                        <ul id="pagination" class="pagination">
                            {% if length > 0 %}
                                {% for i in 1..(length / limit)|round(0,'ceil') %}
                                    <li class="paginationButtons page-item">
                                        <button id="pagBtn{{ i }}" class="page-link" type="submit" value="{{ i }}"
                                                onclick="setPage(this.value)">{{ i }}
                                        </button>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </nav>

                </div>
                <div class="col-3">
                    <h2>Categories</h2>
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <button type="submit" value="{{ category | lower }}"
                                        style="background: none;border: none"
                                        onclick="setCategory(this.value)">{{ category | capitalize }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% include 'footer.html.twig' %}
    </div>

    <script>
        var list = document.getElementsByClassName('paginationButtons'),
            ul = document.getElementById('pagination'),
            li = document.createElement("li"),
            btn = document.createElement("div");

        var element1 = document.getElementById("pagBtn1");

        li.className = 'paginationButtons page-item';
        btn.className = 'page-link';
        btn.appendChild(document.createTextNode("..."));

        li.appendChild(btn);

        if (!(window.location.href.includes('page'))) {
            element1.style.setProperty('background', 'black');
            element1.style.setProperty('color', 'white');

            for (let i = 4; i <= list.length - 2; i++) {
                list[i].style.setProperty('display', 'none');
            }

            if (list.length > 5) {
                ul.insertBefore(li, ul.childNodes[list.length]);
            }
        } else {
            var url = new URL(window.location.href);
            var page = url.searchParams.get("page");

            var element2 = document.getElementById("pagBtn" + page);

            element1.style.setProperty('background', 'none');
            element1.style.setProperty('color', 'black');

            element2.style.setProperty('background', 'black');
            element2.style.setProperty('color', 'white');

            current = page - 1;
            var flag1 = false,
                flag2 = false;

            for (let i = 1; i <= current - 4; i++) {
                list[i].style.setProperty('display', 'none');
                flag1 = true;
            }

            for (let i = current + 4; i <= list.length - 2; i++) {
                list[i].style.setProperty('display', 'none');
                flag2 = true;
            }

            var liClone = li.cloneNode(true);

            if (flag1 === true) ul.insertBefore(li, ul.firstElementChild.nextElementSibling);
            if (flag2 === true) ul.insertBefore(liClone, ul.lastElementChild);
        }

        function setCategory(value) {
            var urlSearchParams = new URLSearchParams(window.location.search);
            urlSearchParams.set('category', value);
            urlSearchParams.set('page', 1);
            window.location.search = urlSearchParams;
        }

        function setPage(value) {
            var urlSearchParams = new URLSearchParams(window.location.search);
            urlSearchParams.set('page', value);
            window.location.search = urlSearchParams;
        }
    </script>
{% endblock %}

