{% extends 'base.html.twig' %}

{% block body %}

    <header id="header">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/1.jpg') }}" width="2000" alt="1">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/2.jpg') }}" width="2000" alt="2">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="img-fluid" src="{{ asset('assets/main/images/3.jpg') }}" width="2000" alt="3">
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        {% include 'navbar.html.twig' %}

        <div class="container">
            <div class="row my-5">
                <div class="col-9">
                    <table class="table">
                        <tbody>
                        {% for product in products %}
                            {% set fullImagePath = 'assets/main/images/gallery/' %}
                            {% set fullImagePath = fullImagePath ~ product.imgPath|first %}
                            {% if loop.index0 % 4 == 0 %}
                                <tr>
                                <td>
                                    <a href="../products/{{ product.code }}"
                                       style="text-decoration: none; color: black">
                                        <div class="image">
                                            <img src="{{ asset(fullImagePath) }}" width="200" height="200"
                                                 alt="Image 1">
                                        </div>
                                        <div class="name">
                                            <b>{{ product.name }}</b>
                                        </div>
                                        <div class="price">
                                            {{ product.price | number_format(2) }} $
                                        </div>
                                    </a>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <button id="add-to-cart{{ loop.index0 }}"
                                                class="add-to-cart btn btn-success btn-sm"
                                                data-productCode="{{ product.code }}">
                                            <i class="bi bi-cart-fill"  style="pointer-events:none"></i>
                                            Add
                                        </button>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-success btn-sm">
                                                <i class="bi bi-cart-fill"  style="pointer-events:none"></i>
                                                Add
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    <a href="../products/{{ product.code }}"
                                       style="text-decoration: none; color: black">
                                        <div class="image">
                                            <img src="{{ asset(fullImagePath) }}" width="200" height="200"
                                                 alt="Image 1">
                                        </div>
                                        <div class="name">
                                            <b>{{ product.name }}</b>
                                        </div>
                                        <div class="price">
                                            {{ product.price }} $
                                        </div>
                                    </a>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <button id="add-to-cart{{ loop.index0 }}"
                                                class="add-to-cart btn btn-success btn-sm"
                                                data-productCode="{{ product.code }}">
                                            <i class="bi bi-cart-fill"  style="pointer-events:none"></i>
                                            Add
                                        </button>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-success btn-sm">
                                                <i class="bi bi-cart-fill"  style="pointer-events:none"></i>
                                                Add
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% include 'pagination.html.twig' %}

                </div>
                <div class="col-3">
                    <h2>Categories</h2>
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <button type="submit" value="{{ category | lower }}"
                                        style="background: none;border: none"
                                        onclick="setCategory(this.value)">{{ category | capitalize }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% include 'footer.html.twig' %}
    </div>
    <script src="{{ asset('assets/main/js/script.js') }}" type="text/javascript"></script>
{% endblock %}

