{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <header>
        {# Slider HERE #}
        <img class="img-fluid" src="{{ asset('assets/main/images/header-image.jpg') }}" width="2000" alt="1">
    </header>

    <div>
        {# Navbar #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand">Preot.md</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacts</a>
                        </li>
                    </ul>

                    <form class="d-flex mx-5">
                        <input class="form-control me-2" type="search" placeholder="Search products here"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                    <button type="button" class="btn btn-dark me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-door-open-fill" viewBox="0 0 16 16">
                            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-light me-2">Sign Up
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-dark me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>

        <div id="product-images">
            {# Product code #}
            <br><br>
            <p id="product-code">#{{ product.code }}</p>
            {# Name #}
            <br>
            <h1 id="product-name"><b>{{ product.name }}</b></h1>
            <br><br>
            {# Galery #}
            <div class="custom-container">
                <img id="expandedImg" style="width:100%">
                <div id="imgtext"></div>
            </div>

            <script>
                function myFunction(imgs) {
                    var expandImg = document.getElementById("expandedImg");
                    var imgText = document.getElementById("imgtext");
                    expandImg.src = imgs.src;
                    imgText.innerHTML = imgs.alt;
                    expandImg.parentElement.style.display = "block";
                }
            </script>

            <div class="row">
                <div class="column">
                    <img src="{{ asset(product.imgPath) }}" alt="Image 1" style="width:100%"
                         onclick="myFunction(this);" onload="myFunction(this);">
                </div>
                <div class="column">
                    <img src="{{ asset('assets/main/images/no-image.png') }}" alt="Image 2" style="width:100%"
                         onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="{{ asset('assets/main/images/no-image.png') }}" alt="Image 3" style="width:100%"
                         onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="{{ asset('assets/main/images/no-image.png') }}" alt="Image 4" style="width:100%"
                         onclick="myFunction(this);">
                </div>
            </div>
            {# Description #}
            <br><br>
            <p id="description">{{ product.description }}</p>
            {# Price #}
            <br><br>
            <p id="price"><b>{{ product.price }}</b></p>
        </div>
        {# Footer #}
        <footer>
            <div class="footer_content">
                <p>You can search us on:</p>
                <div class="social">
                    <a href="#"><img class="mx-4" src="{{ asset('assets/main/images/social/facebook.png') }}" width="30"
                                     alt="1"></a>
                    <a href="#"><img class="mx-4" src="{{ asset('assets/main/images/social/instagram.png') }}"
                                     width="30"
                                     alt="2"></a>
                    <a href="#"><img class="mx-4" src="{{ asset('assets/main/images/social/github.png') }}" width="30"
                                     alt="3"></a>
                </div>
            </div>
            <img class="img-fluid" src="{{ asset('assets/main/images/footer.jpg') }}" width="2000" alt="2">
        </footer>
    </div>
{% endblock %}


{# ################################  Initial Version   ################################## #}

{# {% extends 'base.html.twig' %} #}

{# {% block title %}Product{% endblock %} #}

{# {% block body %} #}
{# <h1>Product</h1> #}

{# <table class="table"> #}
{# <tbody> #}
{# <tr> #}
{# <th>Id</th> #}
{# <td>{{ product.id }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Code</th> #}
{# <td>{{ product.code }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Name</th> #}
{# <td>{{ product.name }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Category</th> #}
{# <td>{{ product.category }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Price</th> #}
{# <td>{{ product.price }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Img_path</th> #}
{# <td>{{ product.imgPath }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Created_at</th> #}
{# <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
{# </tr> #}
{# <tr> #}
{# <th>Updated_at</th> #}
{# <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
{# </tr> #}
{# </tbody> #}
{# </table> #}

{# <a href="{{ path('product_index') }}">back to list</a> #}
{# <br> #}
{# <a href="{{ path('product_edit', {'code': product.code}) }}">edit</a> #}

{# {{ include('product/_delete_form.html.twig') }} #}
{# {% endblock %}   #}