<script src="{{ asset('assets/main/app.js') }}"></script>
<script src="{{ asset('assets/main/cart/add-item.js') }}"></script>
<script src="{{ asset('assets/main/cart/delete-item.js') }}"></script>
<script src="{{ asset('assets/main/cart/cart.js') }}"></script>
<script src="{{ asset('assets/main/cart/read-items.js') }}"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand" style="margin-left: 50px">Preot.md</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('product_index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li style="width: 500px; margin-left: 130px">
                    <form class="d-flex mx-5" onsubmit="setName(); return false">
                        <input class="name form-control me-2" id="myInput" name="name" type="text"
                               placeholder="Search products here"
                               aria-label="Search" size="30">
                        <button class="name btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </li>
                <li>
                    <label for="sortBy" style="color: white; margin-left: 20px; margin-right: 20px; margin-top: 6px">Sort
                        by:</label>
                    <select id="sortBy" onchange="changeSort(this.value)">
                        <option value="created_at:DESC">date (descending)</option>
                        <option value="created_at:ASC">date (ascending)</option>
                        <option value="price:DESC">price (descending)</option>
                        <option value="price:ASC">price (ascending)</option>
                    </select>
                </li>
                <li>
                    <label for="limit" style="color: white; margin-left: 20px; margin-right: 20px; margin-top: 6px">Limit:</label>
                    <select id="limit" name="limit" onchange="changeLimit(this.value)">
                        <option value="16">16</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                        <option value="128">128</option>
                    </select>
                </li>
            </ul>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a style="color: white" href="{{ path('product_list') }}">ADMIN</a>
                {% endif %}

                <div class="cart-widget">
                    <button id="toggle-cart" type="button" class="shopping-cart btn btn-primary me-2">
                        <i class="bi bi-cart-fill"></i>
                        CART
                    </button>
                    <div id="cart" class="shopping-cart-oppened">
                        <h1>Shopping cart</h1>
                        <div class="content">
                            {# Cart to be placed here #}
                            <div id="app"></div>
                            {# <p class="empty-cart">Your shopping cart is empty now!</p> #}
                        </div>
                        <a class="go-to-cart-btn" href="{{ path('cart_index') }}">
                            <button class="btn btn-outline-dark">
                                Go to checkout
                            </button>
                        </a>
                    </div>
                </div>

                <a href="{{ path('app_logout') }}">
                    <button type="button" class="btn btn-dark me-2">Log out
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-door-open-fill" viewBox="0 0 16 16">
                            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                        </svg>
                    </button>
                </a>
            {% else %}
                <a href="{{ path('app_login') }}">
                    <button type="button" class="btn btn-dark me-2">Sign in</button>
                </a>
                <a href="{{ path('user_registration') }}">
                    <button type="button" class="btn btn-light me-2">Sign Up
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </button>
                </a>

            {% endif %}


        </div>
    </div>
</nav>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
</script>
<script src="{{ asset('assets/main/navbar/user/user.js') }}"></script>
<script src="{{ asset('assets/main/navbar/common.js') }}"></script>