<table class="table">
    <tbody>
    <tr>
        <th>Address.country</th>
        <td>{{ order.address.country }}</td>
    </tr>
    <tr>
        <th>Address.state</th>
        <td>{{ order.address.state }}</td>
    </tr>
    <tr>
        <th>Address.city</th>
        <td>{{ order.address.city }}</td>
    </tr>
    <tr>
        <th>Address.address</th>
        <td>{{ order.address.address }}</td>
    </tr>
    <tr>
        <th>Address.recipient</th>
        <td>{{ order.address.recipient }}</td>
    </tr>
    <tr>
        <th>Address.phoneNumber</th>
        <td>{{ order.address.phoneNumber }}</td>
    </tr>
    </tbody>
</table>